* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(44, 9, 240);
    padding: 0px;
    margin-top: 0;
}

main{
    margin: 223px;
    padding: 17px;
    margin-top: 10px;
    margin-right: 253px;
    margin-bottom: 7px;
}

footer {
    padding: 1px;
    margin: -8px;


}